.search {
    display: flex;
    flex: 1;

    .search-input {
        width: 100%;
        padding: 8px 16px;
        background-color: hsl(253, 100%, 95%);
        border-color: hsl(253, 100%, 60%);
        &::placeholder {
            color: hsl(253, 60%, 60%);
        }

        &::-webkit-search-cancel-button {
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z'/%3E%3C/svg%3E");
            height: 1rem;
            width: 1rem;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
