.tech-tree-item {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bubble-title {
        border-radius: 24px;
        padding: 0 16px;
        display: flex;
        background-color: var(--color-bubble-bg, var(--color-tech-not-started-dark));
        color: var(--color-bubble-text, var(--color-tech-not-started-light));
    }

    .bubble-deadline {
        background-color: var(--color-grey-light);
        color: var(--color-grey-dark);
        border-radius: 0 0 12px 12px;
        font-size: 14px;
        padding: 4px 8px;
        width: fit-content;
    }

    .path {
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        /* right: 0; */
        display: block;
        height: 16px;
        width: 4px;
        background-color: var(--color-branch, var(--color-tech-not-started-light));
    }
}

.tech-tree-item--not-started {
    --color-bubble-bg: var(--color-tech-not-started-dark);
    --color-bubble-text: var(--color-tech-not-started-light);
}

.tech-tree-item--in-progress {
    --color-bubble-bg: var(--color-tech-in-progress-dark);
    --color-bubble-text: var(--color-tech-in-progress-light);
    --color-branch: var(--color-tech-in-progress-light);
}

.tech-tree-item--completed {
    --color-bubble-bg: var(--color-tech-completed-dark);
    --color-bubble-text: var(--color-tech-completed-light);
    --color-branch: var(--color-tech-completed-light);
}
