.tech-tree-item {
    border-radius: 24px;
    padding: 0 16px;
    width: fit-content;
    position: relative;

    &:not(:last-of-type)::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        /* right: 0; */
        display: block;
        height: 16px;
        width: 4px;
        background-color: var(--color-branch, var(--color-tech-not-started-light));
    }
}

.tech-tree-item--not-started {
    background-color: var(--color-tech-not-started-dark);
    color: var(--color-tech-not-started-light);
}

.tech-tree-item--in-progress {
    background-color: var(--color-tech-in-progress-dark);
    color: var(--color-tech-in-progress-light);
    --color-branch: var(--color-tech-in-progress-light);
}

.tech-tree-item--completed {
    background-color: var(--color-tech-completed-dark);
    color: var(--color-tech-completed-light);
    --color-branch: var(--color-tech-completed-light);
}
