.tech-tree-item {
    border-radius: 24px;
    padding: 0 16px;
    width: fit-content;
    position: relative;

    &:not(:last-of-type)::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        /* right: 0; */
        display: block;
        height: 16px;
        width: 4px;
        background-color: var(--color-branch, rgb(62, 43, 131));
    }
}

.tech-tree-item--not-started {
    background-color: hsl(253, 100%, 85%);
    color: hsl(253, 100%, 60%);
}

.tech-tree-item--in-progress {
    background-color: hsl(42, 87%, 53%);
    color: hsl(42, 87%, 25%);
    --color-branch: hsl(42, 87%, 25%);
}

.tech-tree-item--completed {
    background-color: hsl(112, 100%, 82%);
    color: hsl(112, 100%, 30%);
    --color-branch: hsl(112, 100%, 30%);
}
