.technology-card {
    border-radius: 16px;
    padding: 16px;
}

.card__state {
    border-radius: 24px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.card__state--not-started {
    background-color: var(--color-tech-not-started-dark);
    color: var(--color-tech-not-started-light);
}
.card__state--in-progress {
    background-color: var(--color-tech-in-progress-dark);
    color: var(--color-tech-in-progress-light);
}
.card__state--completed {
    background-color: var(--color-tech-completed-dark);
    color: var(--color-tech-completed-light);
}

.card__links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__link {
    display: flex;
    align-items: center;
}

.link__label {
    font-weight: bold;
    margin-right: 4px;
    border-radius: 24px;
    padding: 4px;
}

.link__label--article {
    background-color: #c8e5ff;
    color: #003366;
}

.link__label--video {
    background-color: #ffc0d9;
    color: #660033;
}

.link__label--opensource {
    background-color: #c0ffc4;
    color: #00660f;
}

.link__url {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.notes__header {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.notes__textarea {
    min-height: 8rem;
}
