.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    user-select: none;
}

.stats,
.completion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.stats {
    .stats-item {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border: 1px solid;
        font-size: 14px;
        flex: 1;

        &[data-variant="total"] {
            background-color: var(--color-violet-light);
            color: var(--color-violet-dark);
            border-color: var(--color-violet-dark);
            border-radius: 16px;
        }
        &[data-variant="not-started"] {
            background-color: var(--color-grey-light);
            color: var(--color-grey-dark);
            border-color: var(--color-grey-dark);
            border-radius: 16px;
        }
        &[data-variant="in-progress"] {
            background-color: var(--color-orange-light);
            color: var(--color-orange-dark);
            border-color: var(--color-orange-dark);
            border-radius: 16px;
        }
        &[data-variant="completed"] {
            background-color: var(--color-green-light);
            color: var(--color-green-dark);
            border-color: var(--color-green-dark);
            border-radius: 16px;
        }
    }
}

.completed-count,
.total-count {
    background-color: var(--color-statistics-dark);
    color: var(--color-statistics-light);
    border-radius: 24px;
    padding: 0 1rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completion-progress {
    flex: 1;
    border: 1.5px solid var(--color-statistics-dark);
    height: 2rem;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    .bar {
        background-color: var(--color-statistics-dark);
        height: inherit;
    }

    .percentage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-statistics-light);
        background-color: var(--color-statistics-dark);
        border-radius: 24px;
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .stats {
        flex-direction: column;

        .stats-item {
            width: 100%;
        }
    }

    .completion-progress {
        width: 100%;
    }
}
