.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    user-select: none;
}

.stats,
.completion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.stats {
    .stats-item {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border: 1px solid;
        font-size: 14px;
        flex: 1;

        &[data-variant="total"] {
            background-color: hsl(253, 100%, 95%);
            color: hsl(253, 100%, 60%);
            border-color: hsl(253, 100%, 60%);
            border-radius: 16px;
        }
        &[data-variant="not-started"] {
            background-color: hsl(0, 0%, 95%);
            color: hsl(0, 0%, 25%);
            border-color: hsl(0, 0%, 25%);
            border-radius: 16px;
        }
        &[data-variant="in-progress"] {
            background-color: hsl(42, 87%, 95%);
            color: hsl(42, 87%, 25%);
            border-color: hsl(42, 87%, 25%);
            border-radius: 16px;
        }
        &[data-variant="completed"] {
            background-color: hsl(112, 100%, 95%);
            color: hsl(112, 100%, 25%);
            border-color: hsl(112, 100%, 25%);
            border-radius: 16px;
        }
    }
}

.completed-count,
.total-count {
    background-color: hsl(253, 100%, 60%);
    color: white;
    border-radius: 24px;
    padding: 0 1rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completion-progress {
    flex: 1;
    border: 1.5px solid hsl(253, 100%, 60%);
    height: 2rem;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    .bar {
        background-color: hsl(253, 100%, 60%);
        height: inherit;
    }

    .percentage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: hsl(253, 100%, 60%);
        background-color: hsl(253, 100%, 85%);
        border-radius: 24px;
        padding: 0.25rem 0.5rem;
    }
}
