.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: modal-backdrop 0.3s ease-out;

    .modal-content {
        background-color: var(--color-bg-light);
        padding: 16px;
        border-radius: 16px;
        max-width: 600px;
        animation: modal-content 0.3s ease-out;
        overflow-y: auto;
        max-height: 100vh;
        max-height: 100dvh;

        .modal-content__header {
            display: flex;
            align-items: center;

            .modal-content__title {
                flex: 1;
            }

            .modal__close {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                color: var(--color-primary);
                height: 32px;
                width: 32px;
                padding: 0;
            }
        }
    }
}

@keyframes modal-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-content {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
