.quick-actions-container {
    position: relative;

    .quick-actions-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 0;
        background-color: transparent;
        border: 1px solid var(--color-primary);
        border-radius: 100%;
        color: var(--color-primary);
    }
}
