.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    user-select: none;
}

.completed-count,
.total-count {
    background-color: hsl(253, 100%, 60%);
    color: white;
    border-radius: 24px;
    padding: 0 1rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completion-progress {
    flex: 1;
    border: 1.5px solid hsl(253, 100%, 60%);
    height: 2rem;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    .bar {
        background-color: hsl(253, 100%, 60%);
        height: inherit;
    }

    .percentage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: hsl(253, 100%, 60%);
        background-color: hsl(253, 100%, 85%);
        border-radius: 24px;
        padding: 0.25rem 0.5rem;
    }
}
