.popup {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 16px;
    overflow: hidden;
    min-width: max-content;
    animation: fade-in 0.2s ease-out forwards;
    z-index: 999;

    .popup-menu {
        display: flex;
        flex-direction: column;

        .menu__item {
            padding: 8px 16px;
            cursor: pointer;
            &:hover {
                background-color: hsl(253, 100%, 95%);
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
