.popup {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border);
    border-radius: 16px;
    overflow: hidden;
    min-width: max-content;
    animation: fade-in 0.2s ease-out forwards;
    z-index: 999;

    &.right {
        right: 0;
    }

    &.left {
        left: 0;
    }

    .popup-menu {
        display: flex;
        flex-direction: column;

        .menu__item {
            padding: 8px 16px;
            cursor: pointer;
            &:hover {
                background-color: var(--color-ripple);
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
