.toolbar,
.filterbar {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.toolbar-actions {
    display: flex;
    gap: 8px;

    .button {
        display: flex;
        align-items: center;
    }
}

.tech-tree {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
}
