@import url("./css/variables.css");

html {
    font-family: sans-serif;
    scrollbar-gutter: stable;
    background-color: var(--color-bg);
    color: var(--color-text);
}
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

button {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: none;
    border-radius: 32px;
    padding: 0 16px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

textarea,
input {
    height: 50px;
    flex: 1;
    border-radius: 24px;
    border: 1px solid var(--color-violet-dark);
    background-color: var(--color-violet-light);
    color: var(--color-text);
    display: block;
    padding: 16px;
    font-size: 16px;
    font-family: inherit;
    resize: vertical;
}
