html {
    font-family: sans-serif;
    scrollbar-gutter: stable;
}
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

button {
    background-color: rgb(62, 43, 131);
    color: white;
    border: none;
    border-radius: 32px;
    padding: 0 16px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

textarea {
    height: 50px;
    flex: 1;
    border-radius: 24px;
    border: 1px solid hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 98%);
    display: block;
    padding: 16px;
    font-size: 16px;
    font-family: inherit;
    resize: vertical;
}
